main {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    .main {
        width: 1280px;
        background: #FFFFFF80;
        margin: 20px 100px;

        > .title {
            font-weight: 400;
            font-size: 24px;
            color: #000000;
        }

        .comment {
            box-sizing: border-box;
            margin: 26px 32px;
            padding: 24px;
            background: #fff;
            min-height: 348px;
            display: flex;
            justify-content: space-between;

            > img {
                width: 34%;
                object-fit: contain;
            }

            .comment-intro {
                font-size: 96px;
                margin: 2% auto 0;
                color: #98C04D;
                -webkit-text-stroke: 4px #000;

                > div {
                    display: flex;
                    align-items: center;
                    padding: 12px 0;

                    > p {
                        display: flex;
                        justify-content: center;

                        > img {
                            width: 80px;
                            margin-left: 12px;
                        }
                    }
                }
            }

            .comment-info{
                flex: 1;
                height: 100%;
                margin-left: 24px;

                .comment-top {
                    display: flex;
                    margin-top: 24px;

                    .comment-top-empty {
                        width: 160px;
                        height: 100px;
                        display: flex;
                        justify-content: center;
                        background: #D9D9D9;
                        cursor: pointer;

                        > img {
                            width: 48px;
                            object-fit: contain;
                        }
                    }

                    .comment-top-avatar {
                        width: 180px;

                        > img {
                            width: 180px;
                        }
                    }

                    .comment-top-tag {
                        margin-left: 18px;
                        flex: 1;

                        > span{
                            margin-left: 12px;
                            margin-bottom: 12px;
                        }
                    }
                }

                .comment-bot {
                    display: flex;
                    margin-top: 36px;

                    .comment-save {
                        width: 84px;
                        height: 84px;
                        border-radius: 50%;
                        background: linear-gradient(180deg, #D186FF 0%, #6DB3FF 100%);
                        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                        font-size: 24px;
                        color: #000;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin: 0 24px;
                        flex-shrink: 0;
                        cursor: pointer;
                    }
                }
            }
        }

        .card-wrap {
            display: flex;
            align-items: center;
            overflow-y: auto;
            margin: 26px 32px;

            .card {
                box-sizing: border-box;
                width: 288px;
                margin-right: 20px;
                height: 388px;
                padding: 8px;
                background: #98C04D;
                border: 5px solid #000000;
                border-radius: 20px;
                flex-shrink: 0;


                .card-head {
                    display: flex;

                    > img {
                        width: 68px;
                        border-radius: 68px;
                        margin-right: 8px;
                    }

                    > p {
                        span {
                            margin-right: 8px;
                            margin-bottom: 8px;
                            &.el-tag--small {
                                padding: 0 4px;
                            }
                        }
                    }
                }

                .card-star {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    color: #333;
                    font-size: 12px;
                    padding: 8px 0;
                    cursor: pointer;

                    .el-rate__icon {
                        font-size: 16px;
                        margin-right: 4px;
                    }
                }

                .card-desc {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 18px;
                    color: #000000;
                }
            }

            .empty {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                background: #D9D9D9;

                div, img {
                    cursor: pointer;
                }

                div {
                    margin-top: 12px;
                    font-weight: 400;
                    font-size: 15px;
                    text-align: center;
                    color: #000000;
                }
            }
        }
    }
}

.dialog {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    > img {
        width: 16%;
        object-fit: contain;
        transition: all .24s;
        cursor: pointer;

        &:hover {
            transform: scale(1.2);
        }
    }
}


@media screen and (max-width:1200px) {
    main {
        justify-content: center;

        .main {
            width: 100%;
            max-width: 1200px;
            box-sizing: border-box;
            margin: 20px 50px;
        }
    }
}
