main {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    .main {
        width: 1280px;
        background: #FFFFFF80;
        margin: 20px 100px;

        > .title {
            font-weight: 400;
            font-size: 24px;
            color: #000000;
        }

        .comment {
            box-sizing: border-box;
            margin: 26px 32px;
            padding: 24px;
            background: #fff;
            min-height: 348px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            > img {
                width: 34%;
                object-fit: contain;
            }

            .comment-intro {
                font-size: 96px;
                margin: 0 auto;
                color: #98C04D;
                -webkit-text-stroke: 4px #000;

                > div {
                    display: flex;
                    align-items: center;
                    padding: 12px 0;

                    > p {
                        display: flex;
                        justify-content: center;

                        > img {
                            width: 80px;
                            margin-left: 12px;
                        }
                    }
                }
            }

            .comment-content {

            }
        }

        .card-wrap {
            width: 100%;
            display: flex;
            align-items: center;
            overflow-y: auto;
            margin: 26px 32px;

            .card {
                box-sizing: border-box;
                width: 288px;
                margin-right: 20px;
                height: 388px;
                padding: 8px;
                background: #98C04D;
                border: 5px solid #000000;
                border-radius: 20px;
                flex-shrink: 0;


                .card-head {
                    display: flex;

                    > img {
                        width: 68px;
                        border-radius: 68px;
                        margin-right: 8px;
                    }

                    > p {
                        span {
                            margin-right: 8px;
                            margin-bottom: 8px;
                            &.el-tag--small {
                                padding: 0 4px;
                            }
                        }
                    }
                }

                .card-star {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    color: #333;
                    font-size: 12px;
                    padding: 8px 0;
                    cursor: pointer;

                    .el-rate__icon {
                        font-size: 16px;
                        margin-right: 4px;
                    }
                }

                .card-desc {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 18px;
                    color: #000000;
                }
            }

            .empty {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                background: #D9D9D9;

                div, img {
                    cursor: pointer;
                }

                div {
                    margin-top: 30px;
                    font-weight: 400;
                    font-size: 15px;
                    text-align: center;
                    color: #000000;
                }
            }
        }
    }
}


@media screen and (max-width:1200px) {
    main {
        justify-content: center;

        .main {
            width: 100%;
            max-width: 1200px;
            box-sizing: border-box;
            margin: 20px 50px;
        }
    }
}
