<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="./css/index.css">
	<link rel="stylesheet" href="./css/750.css">
	<link rel="stylesheet" href="./css/cate.css">
	<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
	<script src="./js/index.js"></script>
</head>

<body>
	<div id="app">
		<div class="content">
			<div class="content-left">
				<div class="box1">
					<img src="./image/Pixel_Sushi.png" alt="">
					<h1>SUSHI</h1>
				</div>
				<div class="box3">
					<img src="./image/images1.png" alt="">
				</div>
				<div class="box3">
					<img src="./image/images1.png" alt="">
				</div>
			</div>
			<div class="content-right">
				<div class="right-box">
					<ul>
						<li>
							<img src="./image/pixel-sushi.png" alt="">
						</li>
						<li class="hide">
							<img src="./image/pixel-sushi.png" alt="">
						</li>
						<li class="hide">
							<img src="./image/pixel-sushi.png" alt="">
						</li>
						<li class="hide">
							<img src="./image/pixel-sushi.png" alt="">
						</li>
						<li class="hide">
							<img src="./image/pixel-sushi.png" alt="">
						</li>
						<li class="hide">
							<img src="./image/pixel-sushi.png" alt="">
						</li>
						<li class="hide">
							<img src="./image/pixel-sushi.png" alt="">
						</li>
						<li class="hide">
							<img src="./image/pixel-sushi.png" alt="">
						</li>
						<li class="hide">
							<img src="./image/pixel-sushi.png" alt="">
						</li>
						<li class="hide">
							<img src="./image/pixel-sushi.png" alt="">
						</li>
						<li class="hide">
							<img src="./image/pixel-sushi.png" alt="">
						</li>
					</ul>
				</div>
				<div class="right-box02">
					<div class="right-b1">
						<div class="img-box">
							<ul>
								<li>
									<img src="./image/Gunkan.PNG" alt="">
								</li>
								<li>
									<img src="./image/Inari.PNG" alt="">
								</li>
								<li>
									<img src="./image/Nigiri.PNG" alt="">
								</li>
								<li>
									<img src="./image/Norimaki.PNG" alt="">
								</li>
								<li>
									<img src="./image/Oshizushi.PNG" alt="">
								</li>
								<li>
									<img src="./image/Temaki.PNG" alt="">
								</li>
							</ul>
						</div>
						<div class="title">
							<h3>Welcome to Sushi Cooking official website</h3>
							<p>We currently have 6 types of sushi available for search</p>
						</div>
					</div>
					<div class="right-b2">
						<ul>
							<li>Sushi(寿司or鮨)is the most famous Japanese dish outside</li>
							<li>of Japan,and one of the most popular dishes among the Japanese.</li>
							<li>In Japan,sushi is usually enjoyed on special occasions,such as a celebration.</li>
						</ul>
					</div>
					<div class="right-b3">
						<div class="title">
							<h3>Search for a type of sushi</h3>
						</div>

						<div class="content-b3">
							<div class="b3-left">
								<div class="input-box">
									<input id="searchInput" type="text">
								</div>
								<div style="margin: 10px 0;"></div>
								<ul id="searchUL" v-cloak>
									<li v-for="(item, index) in selectOption" :key="index" @click="selectIndex = index">
										<img :src="item.img" alt="">
										<h3>{{ item.title }}</h3>
										<p>{{ item.price }}$</p>
									</li>
								</ul>
							</div>
							<div v-cloak class="b3-right">
								<div class="top">
									<div class="top-left">
										<img src="./image/images.jpg" alt="">
									</div>
									<div class="top-right">
										<h1>{{ selectOption[selectIndex].title }}</h1>
										<ul>
											<li style="margin: 0;">
												<img src="./image/heart.png" alt="">
											</li>
											<li>
												<img src="./image/heart.png" alt="">
											</li>
											<li>
												<img src="./image/heart.png" alt="">
											</li>
											<li>
												<img src="./image/heart.png" alt="">
											</li>
										</ul>
									</div>
								</div>
								<div class="middle">
									<p>{{ selectOption[selectIndex].desc }}</p>
								</div>
								<div class="bottom">
									<img src="./image/pixel-sushi.png" alt="">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<main>
			<div class="main">
				<div class="title">food record</div>
				<div class="comment">
					<img src="./image/Sushi.png" alt="">
					<div v-if="!showComment" class="comment-intro">
						<div>
							SUSHI
							<p>
								<img src="./image/pixel-sushi.png" alt="">
								<img src="./image/pixel-sushi.png" alt="">
								<img src="./image/pixel-sushi.png" alt="">
							</p>
						</div>
						<div>EVALUATION</div>
					</div>
					<div v-else class="comment-info">
						<div class="comment-top">
							<div v-if="!commentForm.img" class="comment-top-empty" @click="showSelectAvatar = true">
								<img src="./image/Add.png" alt="">
							</div>
							<div v-else class="comment-top-avatar">
								<img :src="commentForm.img" alt="">
							</div>
							<div class="comment-top-tag">
								<el-tag v-for="tag in commentForm.tag" :key="tag" :disable-transitions="false">{{ tag }}</el-tag>
								<el-input class="input-new-tag" v-if="inputVisible" v-model="inputValue" ref="saveTagInput" size="small" style="width: 88px" @keyup.enter.native="handleInputConfirm" @blur="handleInputConfirm"></el-input>
								<el-button v-else class="button-new-tag" size="small" @click="showInput">+ New Tag</el-button>
							</div>
						</div>
						<div class="comment-bot">
							<el-input type="textarea" :autosize="{ minRows: 4, maxRows: 6 }" placeholder="comment..." v-model="commentForm.comment"></el-input>
							<div class="comment-save" @click="save">save</div>
						</div>
					</div>
				</div>
				<div class="card-wrap">
					<div v-if="!showComment" class="card empty" @click="showComment = true">
						<img src="./image/Add.png" alt="">
						<div>click to add comment</div>
					</div>
					<div v-for="(item, index) in cardList" :key="index" class="card">
						<div class="card-head">
							<img :src="item.img" alt="">
							<p>
								<el-tag v-for="(tag, tagIndex) in item.tag" :key="tagIndex" type="info" size="small">{{ tag }}</el-tag>
							</p>
						</div>
						<div class="card-star">
							<el-rate v-model="item.star" disabled></el-rate>
							<span>{{ item.date }}</span>
						</div>
						<div class="card-desc">{{ item.comment }}</div>
					</div>
				</div>
			</div>
		</main>

		<el-dialog title="choose avatar" :visible.sync="showSelectAvatar" width="30%">
			<div class="dialog">
				<img src="./image/Gunkan.PNG" alt="" @click="selectAvatar('./image/Gunkan.PNG')">
				<img src="./image/Inari.PNG" alt="" @click="selectAvatar('./image/Inari.PNG')">
				<img src="./image/Nigiri.PNG" alt="" @click="selectAvatar('./image/Nigiri.PNG')">
				<img src="./image/Norimaki.PNG" alt="" @click="selectAvatar('./image/Norimaki.PNG')">
				<img src="./image/Oshizushi.PNG" alt="" @click="selectAvatar('./image/Oshizushi.PNG')">
				<img src="./image/Temaki.PNG" alt="" @click="selectAvatar('./image/Temaki.PNG')">
			</div>
		</el-dialog>
	</div>
</body>

<script src="https://unpkg.com/vue@2/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>


<script src="./js/cate.js"></script>

</html>
